/* ChartComponent.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  div {
    text-align: center;
  }
  
  .period-buttons button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  canvas {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Legend Styles */
  .legend {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  /* You can customize the legend text style as needed */
  